<div class="container-fluid">
    <div class="row">
        <header class="bg-warning text-white p-3" style="height: 25vh;">
            <h1><b>REAL TIME PRODUCTS</b></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-12 m-3">
            {{#each products}}
            <div><b>Producto codigo*{{this.id}}</b></div>
                <ul>
                    <li>{{this.title}}</li>
                    <li>{{this.description}}</li>
                    <li>Precio: ${{this.price}}</li>
                    <li>Stock: {{this.stock}}</li>
                 </ul>
            {{/each}}
        </div>
    </div>

     <div class="row">
        <div>
            <input type="text" id="chatBox">
        </div>

        <div>
            <p id="prodLog"></p>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const socket = io('ws://localhost:3000');

    let user;
    const chatBox = document.getElementById('chatBox');
    const prodLog = document.getElementById('prodLog');

    chatBox.addEventListener('keyup', (event) => {
    if (event.key === 'Enter' && chatBox.value.trim().length > 0) {
        socket.emit('new_message', { user: user, msg: chatBox.value });
    }
    });

    socket.on('connect', () => {
    socket.on('server_confirm', (data) => {
        console.log("El servidor ha confirmado la conexión");
        console.log(data);
    });

    socket.on('msg_received', (data) => {
        messagesLog.innerHTML = `${messagesLog.innerHTML}<br>(${data.user}) ${data.msg}`;
    });

    // Este evento llega desde el endpoint POST
    socket.on('new_prod', (data) => {
        console.log(data);
    });
})

    Swal.fire({
        title: "User",
        text: "Write your User Id",
        input: "text",
        inputValidator: (value) => {
            return !value && "Necesitas escribir un usuario para continuar!"
        }
    }).then(res => {
        user=res.value
    })
</script>